<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3" (input)="pesquisar($event.target.value)">
    <label class="mdl-textfield__label" for="sample3">Pesquisar...</label>
  </div>

  {{search}}
  <!-- List items with avatar and action -->
  <ul class="demo-list-action mdl-list">
    <li class="mdl-list__item" *ngFor="let persona of personas; let i = index">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>{{persona.name}}</span>
        <p>{{persona.desc}}</p>
      </span>
      <a class="mdl-list__item-secondary-action" [ngClass]="{'violet': persona.favorited}" href="#" (click)="favoritar(i)"><i class="material-icons">star</i></a>
    </li>

  </ul>


  <h2>Busca CEP:</h2>
  <input type="number" placeholder="digite seu cep" (input)="inputCep($event.target.value)" />
  <button (click)="buscarNaApi()">buscar</button><br/>

  <div *ngIf="endereco.cep !== ''">
    <span>CEP: {{endereco.cep}}</span> <br/>
    <span>Logradouro: {{endereco.logradouro}}</span><br/>
    <span>Complemento: {{endereco.complemento}}</span><br/>
    <span>Bairro: {{endereco.bairro}}</span><br/>
    <span>Localidade: {{endereco.localidade}}</span><br/>
    <span>UF: {{endereco.uf}}</span><br/>
  </div>

  <div *ngIf="endereco.cep === ''">Nenhum CEP encontrado</div>

